{{ 'component-collection-page-banner.css' | asset_url | stylesheet_tag }}

<section class="main-collection-banner-section">
  <div class="container main-collection-banner-container">
    <div class="breadcrumbs">Home / {{ collection.title }}</div>
    <div class="text-wrapper">
      <h2>{{ collection.title }}</h2>
    </div>
    <div class="img-wrapper d-flex justify-content-center align-items-center">
      <img
        src="{{ collection.image | image_url }}"
        alt=""
        width=""
        height=""
        loading="lazy"
        class="collection-img"
      >
    </div>
   
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": true,
      "label": "Show Collection Image"
    }
  ]
}
{% endschema %}
