header {
  padding-top: 7px;
  padding-bottom: 4px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-container {
  max-width: 1390px !important;
  padding-right: 21px;
}

.header-img {
  padding-left: 1px;
  margin-bottom: 2px;
}

.header-img img {
  margin-top: -1px;
}

header .header-menu {
  margin: 0 -17.5px;
  margin-left: 35px;
  white-space: nowrap;
}

header .header-menu-list-wrapper a {
  padding: 0 15.5px;
  font-weight: bold;
  color: #000;
  position: relative;
}

.header-menu-list-wrapper a::after {
  content: "";
  width: 0;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  border-bottom: 2px solid #ff6e30;
  top: calc(100% + 8px);
  z-index: 1001;
  transition: all 0.3s;
}

.header-menu-list-wrapper a:hover::after {
  width: 80%;
}

.header-search-bar {
  border-radius: 6px;
  border: 1px solid var(--grayscale-20, #d1d1d1);
  max-width: 405px;
  margin-left: 57px;
  overflow: hidden;
  margin-bottom: 4px;
  padding-bottom: 0;
}

.header-search-bar input {
  color: var(--grayscale-50, #808080);
  font-size: 14px;
  padding: 3px 0 2px 10px;
}

.header-search-bar button {
  border-radius: 0px 6px 6px 0px;
  background: var(--secondary-blacktop, #322e2d);
  padding: 5px 9px 9px 11px;
}

.header-menu-2 {
  margin-left: 50px;
  margin-bottom: 2px;
}

.header-menu-2 a:not(:first-child) {
  margin-left: 15px;
}

.header-menu-2 a {
  max-width: 40px;
  max-height: 40px;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
  background-color: transparent;
}

.header-menu-2 a .badge {
  background: var(--primary-orange, #ff6e30);
  color: var(--primary-black, #000);
  font-family: "Public Sans";
  font-size: 10px;
  font-weight: bold;
  margin-top: 4px;
  margin-left: -3px;
}

.mega-menu {
  width: 100%;
  background: white;
  position: fixed;
  left: 0;
  top: 123px;
  display: none;
  border-top: 1px solid #808080;
  padding: 20px 0;
  max-height: 400px;
  overflow: auto;
}

.mega-menu li {
  padding: 4px 0;
}

.mega-menu h3 {
  color: #ff6e30;
}

.header-menu-list:hover > .mega-menu {
  display: block;
}

.header-menu-list {
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.mega-menu-image {
  max-width: 300px;
}
