.product-cards-wrapper {
  margin: 0 -10px;
}
.product-card-wrapper {
  padding: 0 10px;
  width: 20%;
}

.product-rating-wrapper {
  margin-top: 6px;
}

.wishlist-btn {
  border: none;
  background-color: transparent;
  width: max-content;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0 !important;
}

.product-rating-wrapper .product-rating-stars + span {
  margin-left: 4px;
  color: var(--primary-black, #000);
  font-size: 13px;
  line-height: normal;
  font-family: Public Sans;
}
.product-card {
  border-radius: 12px;
  background: #fff;
  position: relative;
  height: 100%;
}

.product-card .placeholder-svg {
  max-height: 150px;
}

.product-card .product-new-tag,
.product-card .product-off-tag {
  padding: 5px 9px;
  position: absolute;
  border-radius: 6px;
  background: var(--secondary-safety-orange, #ff8139);
  top: 15px;
  left: 15px;
  color: var(--primary-black, #000);
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  font-family: "Public Sans";
}

.product-card .product-off-tag {
  background: var(--secondary-sale-red, #e0171f);
  color: #fff;
}

.product-card .product-price {
  color: var(--primary-black, #000);
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  margin-top: 16px;
  font-family: "Public Sans";
}

.product-card .product-price small {
  font-size: 13px;
}

.product-card a {
  padding: 12px 20px 40px;
}

.product-img-container {
  max-width: 209px;
}

.product-card .product-discription {
  margin-top: 29px;
  min-height: 65px;
  line-height: 22px;
  /* -webkit-line-clamp: 3; */
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.product-card .product-price-line-through {
  text-decoration: line-through;
  color: var(--grayscale-50, #808080);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  margin-left: 8px;
}

.color-list-container span {
  font-size: 13px;
}
.color-list-wrapper li {
  margin-left: 4px;
}
.color-list {
  width: 15px;
  height: 15px;
  border: 1px solid #6c757d;
}

.size-list {
  font-size: 12px;
  text-align: center;
  padding: 10px;
  border: 1px solid #6c757d;
}
