
.footer-container-top {
  padding-bottom: 76px;
}

.footer-container-top .row-column:nth-child(2),
.footer-container-top .row-column:nth-child(3) {
  padding-left: 15px;
}

.footer-container-top .row-column:nth-child(4) {
  padding-left: 17px;
}

.footer-container-top h4 {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.9px;
}

.footer-car-logo {
  position: absolute;
  bottom: 0;
}

.footer-container-top h5 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.7px;
  margin-bottom: 15px;
}

.footer-container-top a {
  color: #fff;
  font-size: 14px;
}

.footer-container-top .row-column input {
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid var(--grayscale-70, #4d4d4d);
  font-size: 14px;
  line-height: normal;
  padding: 14px;
  outline: none;
}

.footer-container-top .row-column input::placeholder {
  color: #fff;
}

.footer-container-top .row-column .btn-orange {
  margin-top: 10px;
}

.footer-container-top .social-media-container {
  margin-top: 40px;
}

.footer-container-top .social-media-container a:not(:first-child) {
  margin-left: 6px;
}

.footer-container-top .store-info-wrapper span {
  margin-left: 21px;
  font-size: 14px;
  line-height: 22px;
}

.footer-container-top .store-info-wrapper:not(:first-child) {
  margin-top: 18px;
  align-items: center;
}

.footer-container-top .list-unstyled {
  margin: 0;
}

.footer-bottom-container {
  margin-top: 21px;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  padding-right: 10px;
}

.footer-bottom-container div span:nth-child(2),
.footer-bottom-container div span:nth-child(4) {
  padding: 0 7px;
}

.footer-bottom-container div span:nth-child(3) {
  padding: 0 1px;
}

.list-social__item:not(:first-child){
  margin-left: 6px;
}
