.blog-list-container {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 25px;
  grid-auto-rows: 1fr; 
  place-items: center;
}

.blog-card-wrapper img {
  /* max-width: 300px; */
  width: 100%;
  max-height: 200px;
}

.blog-card-wrapper .read-more {
  text-decoration: underline;
  color: black;
}
